:root {
  /* ### Primary Colors */
  --opaqueBlack: hsla(0, 0%, 0%, 0.4);
  --marineBlue: hsl(213, 96%, 18%);
  --purplishBlue: hsl(243, 100%, 62%);
  --pastelBlue: hsl(228, 100%, 84%);
  --lightBlue: hsl(206, 94%, 87%);
  --strawberryRed: hsl(354, 84%, 57%);

  /* ### Neutral  Colors*/

  --coolGray: hsl(231, 11%, 63%);
  --lightGray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--marineBlue);
  background-color: var(--lightGray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}
.sidebar {
  background-image: url(././assets/images/bg-sidebar-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 6rem 0;
}

.step-num {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-inline: 10px;
  border: 2px solid var(--white);
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.step-num:hover {
  background-color: var(--lightGray);
  color: var(--marineBlue);
}
.step-name {
  display: none;
}
.info-section {
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  top: -50px;
  margin-inline: 20px;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 5px var(--opaqueBlack);
  -moz-box-shadow: 0px 0px 10px 5px var(--opaqueBlack);
  box-shadow: 0px 0px 10px 5px var(--opaqueBlack);
}
.title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.subtitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
label {
  font-weight: 500;
}
input {
  color: var(--marineBlue);
  text-align: start;
  width: 100%;
  margin: 10px 0 20px 0;
  padding: 10px;
  border-radius: 5px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.next-btn {
  color: var(--white);
  background-color: var(--marineBlue);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.prev-btn {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.error {
  color: red;
  margin-bottom: 20px;
}
.plan-container {
  display: flex;
  flex-direction: column;
}
.plan-wrapper {
  display: flex;
  flex-direction: column;
}

.plan {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  border: 1px solid var(--lightGray);
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
}
.plan-img {
  margin-right: 1rem;
}
.plan-text {
  display: flex;
  flex-direction: column;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  main {
    flex-direction: row;
    background-color: var(--white);
    min-height: 500px;
    border-radius: 15px;
    margin-top: 3rem;
    padding: 1rem;
  }
  .sidebar {
    background-image: url(/multi-step-form/assets/images/bg-sidebar-desktop.svg);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 2rem;
    width: 250px;
    border-radius: 15px;
  }
  .step {
    display: flex;
    flex-direction: row;
  }
  .step-name {
    color: var(--lightGray);
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  }
  .step-name span {
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
  }
  .info-section {
    margin-inline: 10rem;
    padding: 20px;
    top: 0;
    box-shadow: none;
  }
}
