* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  text-transform: uppercase;
  background-color: hsl(235, 16%, 14%);
  background-image: url(/images/pattern-hills.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
h1 {
  color: white;
}
h2 {
  font-size: 3rem;
  color: hsl(345, 95%, 68%);
}
h3 {
  color: hsl(237, 18%, 59%);
}
.counter-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px orange;
}
.counter-wrapper {
  width: 110px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-inline: 15px;
  border: 1px yellow;
}
.counter {
  position: relative;
  width: 110px;
  min-height: 100px;
  display: flex;
  border: 2px red;
}

.card-wrapper {
  position: relative;
  width: 110px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  border: 2px green;
}
.card {
  position: absolute;
  top: 0;
  width: 110px;
  min-height: 100px;
  background-color: hsl(236, 21%, 26%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px blue;
  z-index: 0;
}
.card-up {
  background-color: hsl(237, 20%, 23%);
  transform: rotate3d(1, 0, 0, -10deg);
}

.card-down {
  transform: rotate3d(1, 0, 0, 10deg);
  box-shadow: 0px 8px 2px hsl(234, 17%, 12%);
}
.black-dot-left {
  position: absolute;
  left: 0;
  top: 45%;
  background-color: hsl(235, 16%, 14%);
  height: 10px;
  width: 5px;
  border-radius: 0 5px 5px 0;
  z-index: 5;
}
.black-dot-right {
  position: absolute;
  right: 0;
  top: 45%;
  background-color: hsl(235, 16%, 14%);
  height: 10px;
  width: 5px;
  border-radius: 5px 0 0 5px;
  z-index: 5;
}

.attribution {
  text-transform: none;
}

.animate {
  animation-name: flipCard;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes flipCard {
  100% {
    transform: rotateX(-360deg);
  }
}
